<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamProject.dao.ScreenDAO">
	<insert id="insertScreen">
		insert into screen(sc_name, sc_seat, sc_th_num)
		values (#{screen.sc_name}, #{screen.sc_seat}, #{screen.sc_th_num})
	</insert>
	
	<select id="selectScreen" resultType="ScreenVO">
		select * from screen where sc_name like concat(#{screenName}, '%')
	</select>
</mapper>