<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sjk.sample_2.teamProject.dao.MovieDAO">
	<select id="select" resultType="MovieVO">
		select *
		from movie
		where mo_title = #{obj.mo_title}
			and mo_content = #{obj.mo_content}
			and mo_time = #{obj.mo_time}
			and mo_age = #{obj.mo_age}
			and mo_date = #{obj.mo_date}
	</select>
	<insert id="insert">
		insert into movie(mo_title, mo_content, mo_time, mo_age, mo_date)
		values(#{obj.mo_title}, #{obj.mo_content}, #{obj.mo_time}, #{obj.mo_age}, #{obj.mo_date})
	</insert>
	<update id="update">
	</update>
</mapper>


