<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sjk.sample_2.teamProject.dao.MovieDAO">
	<select id="selectMovie" resultType="movieVO">
		select * from movie where mo_title = #{mo.mo_title}
	</select>
	<insert id="insertMovie" useGeneratedKeys="true" keyProperty="mo.mo_num">
		insert into movie(mo_title, mo_content, mo_time, mo_age, mo_date)
		values(#{mo.mo_title}, #{mo.mo_content}, #{mo.mo_time}, #{mo.mo_age}, #{mo.mo_date});
	</insert>
	<select id="selectMovieList" resultType="movieVO">
		select * from movie
	</select>
</mapper>


