<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="false"/>
	</settings>
	
	<typeAliases>
		<package name="teamProject.model.vo"/>
		<package name="teamProject.model.tp"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/moviekiosk"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="teamProject/dao/MemberMapper.xml"/>
		<mapper resource="teamProject/dao/TicketMapper.xml"/>
		<mapper resource="teamProject/dao/MovieMapper.xml"/>
		<mapper resource="teamProject/dao/ScheduleMapper.xml"/>
		<mapper resource="teamProject/dao/TheaterMapper.xml"/>
		<mapper resource="teamProject/dao/ScreenMapper.xml"/>
	</mappers>
</configuration>